.hand {
	display: flex;
	align-items: center;
	width: calc(50% - 50px);
	padding-left: 50px;
}

.hand:nth-child(2n) {
	justify-content: flex-start;

	.card {
		margin-right: -50px;
	}
}

.hand:nth-child(2n-1) {
	justify-content: flex-end;

	.card {
		margin-left: -50px;
	}
}

.hand:last-child {
	width: 100%;
	justify-content: center;
	padding-left: 0px;
	padding-bottom: 20px;
	align-items: flex-end;

	.card {
		margin: 0px 2px;
	}
}
